<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :client_address %>
    <%= form.text_field :client_address %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.number_field :service_fee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
